body {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding-left: 60px;
}
.info {
    display: flex;
    flex-direction: column;
}
.litleTitle {
    background-color: blueviolet;
    width: fit-content;
    padding: 15px;
    text-transform: uppercase;
    margin: 10px 0px;
}
.bigTitle {
    font-size: 64px;
    font-weight: 600;
    width: 600px;
}
.text {
    font-size: 16px;
    color: rgba(139, 138, 136, 0.651);
    width: 420px;
    margin: 10px 0px;
}
.buttons {
    display: flex;
    justify-content: start;
}
.button {
    padding: 15px;
    font-size: 24px;
    color: aliceblue;
    font-weight: 500;
    border-radius: 5px;
}
.aplly {
    margin: 10px 30px 10px 0px;
    border: 2px blueviolet solid;
    background-color: blueviolet;
}
.aplly:hover {
    background-color: transparent;
    cursor: pointer;
    border-color: white;
}
.learn {
    margin: 10px 30px 10px 30px;
    border: 2px white solid;
    background-color: transparent;
}
.learn:hover {
    background-color: white;
    color: black;
    border-color: black;
    cursor: pointer;
}